apipkg==1.5
asn1crypto==0.24.0
atomicwrites==1.1.5
attrs==18.1.0
base==1.0.4
cachetools==2.1.0
certifi==2018.8.13
cffi==1.11.5
Click==7.0
cryptography==2.3
ddt==1.1.1
execnet==1.5.0
Flask==1.0.2
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
gunicorn==19.9.0
httplib2==0.11.3
idna==2.7
inflect==1.0.1
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.3.0
numpy==1.15.4
oauth2client==4.1.2
oauthlib==2.1.0
pipenv==2018.7.1
pluggy==0.7.1
py==1.5.4
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.18
pyOpenSSL==18.0.0
pytest==3.7.1
pytest-forked==0.2
pytest-xdist==1.22.5
python-dateutil==2.7.3
pytz==2018.5
redis==2.10.6
requests==2.13.0
requests-oauthlib==1.0.0
rq==0.12.0
rsa==3.4.2
selenium==3.8.0
six==1.11.0
tldextract==2.2.0
uritemplate==3.0.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1
