<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="static/favicon.ico">
    <title>SSL Checker &#x1F4C6;</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

   <style>
       /* JQuery loading screen https://stackoverflow.com/questions/1964839/how-can-i-create-a-please-wait-loading-animation-using-jquery */

       .modal {
           display:    none;
           position:   fixed;
           z-index:    1000;
           top:        0;
           left:       0;
           height:     100%;
           width:      100%;
           background: rgba( 255, 255, 255, .8 )
                       /* url('/static/eclipse-1s-200px.gif') */
                       url('{{ url_for('static', filename='eclipse-1s-200px.gif') }}')
                       /* url('eclipse-1s-200px.gif') */
                       50% 50%
                       no-repeat;
       }

       /* When the body has the loading class, we turn
          the scrollbar off with overflow:hidden */
       body.loading .modal {
           overflow: hidden;
       }

       /* Anytime the body has the loading class, our
          modal element will be visible */
       body.loading .modal {
           display: block;
       }

       .g-user {
            border-left: 5px solid ref;
            color: #007BFF;

            font-style: italic;
       }

       ::-webkit-input-placeholder {
           font-size: 13px;

        }

        ::-moz-placeholder {
              font-size: 13px;
        }

        :-ms-input-placeholder {
              font-size: 13px;
        }

        .advanced {
            display:none

        }

        div.advanced {
            background-colour: red
        }

        .advanced-click {
            font-size: 13px;
        }

        body {
            background-color: #f7fcfd !important
        }

        div.form-click-container {
            display: none;
        }

        .control {
            text-decoration: underline;
            font-style: italic;
        }

        span.demo-only {
            display: none;
        }

   </style>

 <script>
  $( document ).ready(function() {
        console.log( "ready!" );
        $("form").submit(function(event) {
            $( "body" ).addClass( "loading" );
         });
         devMode();
         $("#advanced-click").click(function(event) {
            event.preventDefault();
            toggleAdvanced()
         })
         $("#demo-status").click(function(event) {
            event.preventDefault();
            populateDemo();
         })

    });


    function keepAlive() {
        console.log('staying alive')
        var httpRequest = new XMLHttpRequest();
        httpRequest.open('GET', "/form");
        httpRequest.send(null);
    }

    function devMode() {
        var param = window.location.search
        console.log(param)
        console.log(window.location.pathname.indexOf("sheet-update") >=0)
        if (param.indexOf("adv") >= 0) {
            $(".advanced").show()
            $(".management").show()
         } else if (window.location.pathname.indexOf("development") >=0) {
            console.log('development view active')
            $(".advanced").show()
            $(".management").show()
         } else if (window.location.pathname.indexOf("sheet-update") >=0) {
            console.log('found update url')
            updateFormMode()
         } else {
            $(".advanced").hide()
         }
     }

     function updateFormMode() {
            console.log('update mode running')
            $("div.form-click-container").show()
            $("#form-click").click(toggleFullForm)

         	$("#sheetIntro").text("Confirm the spreadsheet ID number below")
            $(".non-update").hide()
            if ($(".advanced").is(":visible")) {
                toggleAdvanced()
            }
            populateForm()
     }


    function toggleFullForm() {
        console.log('clicked')
        if ($(".non-update").css('display') == "none") {
        	$(".non-update").show("slow")
        	$("#form-click").text("Close full form")
        	$("#sheetIntro").text("2. Enter the Google Sheet's URL or ID below.")
        } else {
        	$(".non-update").hide("slow")
        	$("#form-click").text("Open full form")
        	$("#sheetIntro").text("Confirm the spreadsheet ID number below")
        }
    }

    function toggleAdvanced() {
        if ($(".advanced").is(":visible")) {
        	$(".advanced").hide("slow")
        	$("#advanced-click").text("Open advanced settings")
        } else {
        	$(".advanced").show("slow")
        	$("#advanced-click").text("Close advanced settings")
        }
    }

    function toggleDemo() {
        if ($("div.demo-section.start").is(":visible")) {
        	$("div.demo-section").hide("slow")
        	$("#demo-status").text("Click to activate 'Live Mode'")
        	$("#advanced-click").hide()
        	$("span.bullet").hide()
        	$(".demo-only").show()

        } else {
        	$("div.demo-section").show("slow")
        	$("#demo-status").text("Click to activate 'Demo Mode'")
        	$("#advanced-click").show()
        	$("span.bullet").show()
        	$(".demo-only").hide()

        }
    }

    function populateForm() {
        const urlParams = new URLSearchParams(window.location.search)

        document.getElementById("sheeturl").value = urlParams.get("sheetid")
        document.getElementById("dashboardname").value = urlParams.get("dashboard")
        document.getElementById("domains").value = urlParams.get("domains")
        document.getElementById("emailname").value = urlParams.get("emails")
        const forgiveCheck = document.getElementById("forgive").checked = urlParams.get("forgive")
        if (urlParams.get("forgive") == "true") {
            document.getElementById("forgive").checked = true
        } else if (urlParams.get("forgive") == "false") {
            document.getElementById("forgive").checked = false
        }
     }

     function populateDemo() {
        sheetId = document.getElementById('sheeturl');
        if (!sheetId.value) {
            sheetId.value = 'https://docs.google.com/spreadsheets/d/1fkisLqJ1PlKU818lVo6PdbB3xu5OIXF0NaEHx0a0Mv8';
        } else {
            sheetId.value = '';
        }
        toggleDemo();

     }




    </script>


</head>
<!--<body class="loading">-->
<body id="body">

<!--$:not(".form-update").hide()-->
<main role="main" class="container">
    <div class="show-form">
    <h1 class="mt-5 form-update">SSL Checker</h1>
        <div class="form-click-container">
             <p><a id="form-click" href="#" class="form-click">Open full form</a></p>
            </div>
        <section title="introduction" class="non-update">
            <p>SSL Checker allows you to track multiple SSL Certificates in a Google Sheet <span class="control">that you control</span> within your Google Drive account.</p>
            <ul>
                <li>Give 'SSL Checker' access to a Google Sheet within your Google Drive</li>
                <li>Enter your website URLs in the form below</li>
                <li>Certificates are sorted by expiration date and colour-coded</li>
                <li>Optional email notifications can be sent on a daily, weekly or monthly basis</li>
                <li>Additional sites and emails can be added via your Google Sheet</li>
            </ul>

        <h4>Demo Mode</h4>
            <p>For a quick demonstration of SSL Checker click the 'Demo Mode' link below to use the pre-existing <a href="https://docs.google.com/spreadsheets/d/1fkisLqJ1PlKU818lVo6PdbB3xu5OIXF0NaEHx0a0Mv8" target="_blank">demonstration sheet</a> (with websites).</p>
            <p><a id="demo-status" href="#">Click to activate 'Demo Mode'</a></p>
    <div class="demo-section start">
            <h4>Live Mode</h4>
            <p>To use your own personal Google Sheet, follow the steps below:</p>
    </div>
        </section>
        <div class="demo-section">
            <p class="lead non-update"><span class="bullet">1. </span>To start, <a href="https://docs.google.com/spreadsheets/create" target="_blank">create a new Google Sheet</a> </p>
            <p class="lead non-update"><span class="bullet">2. </span>Share your Google sheet with <span class="g-user">cheker@synthetic-howl-215114.iam.gserviceaccount.com </span>(<strong>Editor permission needed</strong>)</p>
            <p id="sheetIntro" class="lead form-update"><span class="bullet">3. </span>Enter your Google Sheet's URL or ID</p>

            <form class="pure-form pure-form-aligned form-update" id="checkerform" name="checkerform" action="/form" target="" method="POST">
        <fieldset>


            <div class="form-group">
                <div class="form-update">
                    <input id="sheeturl" name="sheeturl" type="text" placeholder="For example https://docs.google.com/spreadsheets/d/1Y-wR6KjmbQR6OXVz1M7iTfnyP6RzcGc_ZMLj1ypTNUs"
                           class="form-control input-md" required="" value="">
                    <span class="help-block"><em><u></u></em></span>
                </div>
            </div>

        </div>


        <p class="lead non-update"><span class="bullet">4. </span>Enter <span class="demo-only">additional</span>  websites you would like to monitor <span class="demo-only">(optional)</span></p>
        <p></p>

                <!-- Text input-->
            <div class="form-group non-update">
                <!--<label class="  control-label" for="websitelist">Initial List of Websites</label>-->
                <div class="">
                    <textarea id="websitelist" rows=4 name="websitelist" class="form-control"
                              placeholder="Separate each URL with a new line"></textarea>
                    <span class="help-block"></span>
                </div>
            </div>
        <div class="demo-only">
            <p>NOTE: To delete a website from the <a href="https://docs.google.com/spreadsheets/d/1fkisLqJ1PlKU818lVo6PdbB3xu5OIXF0NaEHx0a0Mv8" target="_blank">demo sheet</a>, remove its URL from the <a href="https://docs.google.com/spreadsheets/d/1fkisLqJ1PlKU818lVo6PdbB3xu5OIXF0NaEHx0a0Mv8/edit#gid=4797132" target="_blank">Websites</a> tab, then run SSL Checker again.</p>
        </div>
        <div class="demo-section">
            <p class="lead non-update"><span class="bullet">5. </span>Enter your notification email address <strong>(optional)</strong></p>

            <!-- start of row -->

            <div class="non-update">

            <div class="form-row">

            <!-- Email input 1-->
            <div class="form-group col-md-4">
                <label class="  control-label" for="emailaddress">Email Address <strong>(Optional)</strong></label>
                <div class="">
                    <input id="emailaddress" name="emailaddress" type="email" placeholder="example@example.com"
                           class="form-control input-md">
                    <span class="help-block"></span>
                </div>
            </div>

            <!-- Select input-->
            <div class="form-group col-md-4">
                <label class="control-label " for="emailpriority">Notify me of SSLs expiring within:
                </label>
                <select class="select form-control" id="emailpriority" name="emailpriority">
                    <option value=""></option>
                    <option value="Expired Only">Expired Only</option>
                    <option value="24 hours">24 hours</option>
                    <option value="48 hours">48 hours</option>
                    <option value="1 week">1 week</option>
                    <option value="2 weeks">2 weeks</option>
                    <option value="1 month">1 month</option>
                    <option value="2 months">2 months</option>
                    <option value="3 months">3 months</option>
                    <option value="6 months">6 months</option>
                    <option value="All Certificates" selected>All Dates</option>
                </select>
            </div>


            <!-- Select input-->
            <div class="form-group col-md-4">
                <label class="control-label " for="emailfrequency">Email Frequency</label>
                <select class="select form-control" id="emailfrequency" name="emailfrequency">
                    <option value=""></option>
                    <option value="Daily">Daily</option>
                    <option value="Weekly" selected>Weekly</option>
                    <option value="Monthly">Monthly</option>
                </select>
            </div>

            </div>
            <!-- end of row -->

            </div>
        </div>
            <div class="form-update">
             <p><a id="advanced-click" href="#" class="advanced-click">Open advanced settings</a></p>
            </div>


            <!-- hidden advanced controls -->
            <div class="advanced">

             <!-- start of row -->


            <p class="lead non-update">5. Rename the default tabs (optional)</p>
            <div class="form-row non-update">

                <!-- Col-->
            <!-- Text input-->
            <div class="form-group col-md-4">
                <label class="control-label" for="dashboardname">'Dashboard' tab</label>
                <div class="">
                    <input id="dashboardname" name="dashboardname" type="text" placeholder="Dashboard"
                           class="form-control input-md">
                    <span class="help-block"></span>
                </div>
            </div>

                <!-- Col-->
            <!-- Text input-->
            <div class="form-group col-md-4">
                <label class="  control-label" for="domains">'Websites' tab</label>
                <div class="">
                    <input id="domains" name="domains" type="text" placeholder="Websites" class="form-control input-md">
                    <span class="help-block"></span>
                </div>
            </div>

                <!-- Col-->
            <!-- Text input-->
            <div class="form-group col-md-4">
                <label class="  control-label" for="emailname">'Emails' tab</label>
                <div class="">
                    <input id="emailname" name="emailname" type="text" placeholder="Emails"
                           class="form-control input-md">
                    <span class="help-block"></span>
                </div>
            </div>

            </div>
            <!-- end of row -->



            <p class="lead non-update">6. Advanced options (optional)</p>

                <!-- start of row -->
<!--            <div class="form-row form-update advanced">-->

<!--            <div class="form-group col-md-4">-->

<!--                <div class="">-->
<!--                    <label>Redirect mode  <input id="forgive" type="checkbox" name="forgive"></label>-->
<!--                </div>-->
<!--            </div>-->

<!--            </div>-->
            <!-- end of row -->



               <!-- start of row -->

            <div class="form-row advanced form-update">
            <div class="form-group col-md-6">

                <div class="">
                    <label> HTTP timeout (seconds) <input type="number" name="timeout" max="9999" value="10" style="width: 100px;"></label>
                </div>
            </div>

            </div>
            <!-- end of row -->


                    <!-- start of row -->

            <div class="form-row form-update management " style="display: none;">
            <div class="form-group col-md-6">
            <label> Management Sheet ID</label>
                <div class="">
                    <input type="text" name="management_sheet_id" class="form-control input-md">
                </div>
            </div>

            </div>
            <!-- end of row -->


                </div>
            <!--hidden advanced controls ends -->

            <!-- Button -->
            <div class="form-group form-update">
                <!--<label class="  control-label" for="singlebutton">Off We Go!</label>-->
                <div class="">
                    <!--<input id="submit" type="submit" name="submit" value="Off We Go" onclick="loading();">-->
                    <!--<button onclick="loading()" id="singlebutton" name="singlebutton" class="btn btn-primary">Off We Go!</button>-->

                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Run SSL Checker</button>
                </div>
            </div>

        </fieldset>

    </form>
    </div>

</main>

<div class="modal"><!-- Loading overlay --></div>

</body>




</html>